.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home > div {
  width: 100%;
}

.posts_list {
  width: 100%;
}

.post_item {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .post_item {
    max-width: 52rem;
  }
}

@media (min-width: 1200px) {
  .post_item {
    max-width: 44rem;
  }
}
