.navbar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
  padding: 1rem;
}

.brand {
  font-size: 1.2em;
  text-align: center;
}

.brand span {
  font-weight: 900;
  text-transform: uppercase;
}

.links_list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 0.5rem;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.links_list li {
  display: flex;
}

.links_list li a {
  padding: 0.6em 0.8em;
  border-radius: 0.5rem;
}

.links_list li button {
  padding: 0.6em 0.8em;
}

.active {
  background-color: #000;
  color: #fff;
}

@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 2rem;
  }

  .brand {
    text-align: left;
  }

  .links_list {
    justify-content: flex-end;
  }
}
