.searchForm {
  display: flex;
  width: 80%;
  flex-direction: column;
  gap: 0.75rem;
  justify-content: center;
  margin-bottom: 2em;
}

.searchForm input {
  margin-right: 0;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 0.8em 0em;
  background-color: transparent;
}

.searchForm input::placeholder {
  text-align: center;
}

.searchForm button {
  align-self: center;
}

@media (min-width: 768px) {
  .searchForm {
    width: min(50%, 48rem);
    flex-direction: row;
    align-items: center;
  }

  .searchForm input {
    flex: 1;
  }

  .searchForm input::placeholder {
  text-align: left;
}
}
