.inputGroup {
  display: flex;
  flex-direction: column;

  text-align: left;

  gap: 0.5rem;
  margin-bottom: 1em;
}

.inputGroup span {
  font-weight: bold;
}

.inputGroup input {
  width: 100%;

  border: none;
  border-bottom: 1px solid #ccc;

  padding: 0.8rem 0;

  background-color: transparent;

  font-size: 0.9rem;
}

.inputGroup input::placeholder {
  color: #aaa;
  font-size: 0.8rem;
}

.inputGroup input[type="textarea"] {
    /*min-height: 12rem;*/
    resize: vertical;
}
